@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #2b88f0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}

.random-btn {
  background-color: rgb(10, 121, 64);
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.random-btn:hover {
  background-color: #fff;
  color: rgb(10, 121, 64);
  cursor: pointer;
}

.tag {
  background-color: rgb(190, 62, 27);
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin: 10px 5px 10px 0;
  padding: 10px;
}

.tag.highlight {
  background-color: rgb(115, 193, 59);
}

#textarea {
  border: none;
  display: block;
  height: 100px;
  font-family: inherit;
  font-size: 16px;
  margin: 0 0 20px;
  padding: 10px;
  width: 100%;
}
